:root {
    --purple: #322153;
    --greenpeace: #34CB79;
    --ice: #f0f0f5;
}

html {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--ice);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--purple);
}

a {
    text-decoration: none;
}




